@import "../../styles/mixins";
.header_container_banner {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  .header_container_left {
    max-width: 600px;
    width: 100%;
    .title-desc {
      @include textVariant(14px, #959595, 400, "Raleway");
      font-family: sans-serif;
    }
  }
  .header_top_logo_text {
    display: flex;
    justify-content: space-between;
  }
  .title {
    margin-top: 90px;
    @include textVariant(70px, #34ab7d, 400, Age);
  }
  .title-desc-info {
    //font-weight: 900;
    line-height: 30px;
    color: #353535;
    @include textVariant(30px, #353535, 900, Age);
  }
}

.header_right {
  .hedaer_image_right {
    display: flex;
    justify-content: flex-end;
  }
  .right_image_electronica {
    margin-top: 50px;
  }
}

// banner

.banner_card {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  margin-top: 15px;
  .info-popup-container {
    width: 100%;
    text-align: center;
  }
  .read_state {
    background: #34ab7d;
    margin-top: 25px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    @include textVariant(20px, #ffffff, 400, "Raleway");
  }
  .banner_text {
    @include textVariant(20px, #050505, 400, "Raleway");
    font-family: sans-serif;
    line-height: 24px;
  }
}

.banner_container {
  .second_banner {
    height: 160px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    img {
      top: -40px;
      position: relative;
    }
    .banner_title {
      @include textVariant(30px, #050505, 400, Age);
      margin: 0;
    }
    .banner_info {
      margin: 5px 0px 5px;
      @include textVariant(18px, #353535, 400, "Raleway");
    }
    .banner_more {
      @include textVariant(18px, #34ab7d, 400, "Raleway");
    }
  }
}

// running
.running {
  .animate-running-line {
    background: #34ab7d;
  }
  .running-text {
    @include textVariant(20px, #f0f0f0, 400, Age);
  }
}
