.styles-module_item-tracker__3bypy {
  gap: 30px;
}
@media screen and (max-width: 920px) {
  .layout-container {
    // max-width: 350px;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
  }

  .about_banner {
    flex-direction: column;
    gap: 20px;
  }
  .styles-module_item-tracker__3bypy {
    gap: 15px;
  }
}
