@import "../../styles/mixins";

// about

.about_container {
  .about_banner {
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .about_banner_text {
    max-width: 550px;
    width: 100%;
  }
  .about_title {
    @include textVariant(30px, #353535, 500, "Tahoma");
    margin-bottom: 10px;
  }
  //   .about_banner_image {
  //     max-width: 700px;
  //     width: 100%;
  //     img {
  //       width: 100%;
  //     }
  //   }
}

// cards

.cards_container {
  margin-top: 100px;
  .cards_title {
    margin-bottom: 10px;
    @include textVariant(30px, #353535, 500, "Tahoma");
  }
  .cards-list {
    display: flex;
    justify-content: space-between;
  }
  .full-card {
    max-width: 380px;
    width: 100%;
    border: 0.5px solid;
    background: #ffffff;
    border-radius: 20px;
    border-image-source: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%
    );
    .line {
      border-image-source: linear-gradient(
        90deg,
        #000000 0%,
        rgba(0, 0, 0, 0) 100%
      );
      border-image-slice: 1;
      //   background-color: #000000;
      //   border: 1px solid black;
      //   border: 0.5px solid;
    }
  }
}

.blogs_list {
  display: flex;
  justify-content: space-between;
  .full-card {
    max-width: 380px;
    width: 100%;
    border: 0.5px solid;
    background: #ffffff;
    border-radius: 20px;
    border-image-source: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%
    );
  }
  .line {
    border-image-source: linear-gradient(
      90deg,
      #000000 0%,
      rgba(0, 0, 0, 0) 100%
    );

    border-image-slice: 1;
  }
}

.full-card-title {
  @include textVariant(24px, #050505, 500, "Tahoma");
}

.card-tab-container {
  margin-top: 100px;
  .card-tab-title {
    @include textVariant(30px, #353535, 500, "Tahoma");
    margin-bottom: 10px;
  }
  button {
    background: #34ab7d;
    border-radius: 20px;
  }
  .buttons-tab {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    width: 100%;
    gap: 15px;
    .text-gray-800 {
      background-color: white;
    }
  }
}
.cards_tab {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  .card {
    // max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 20px;
  }
  .more-btn {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    background: #34ab7d;
  }
}

// FAQ

.faq-container {
  margin-top: 100px;
  .faq-list {
    background-color: #ffffff;
    border-radius: 50px;
    padding: 15px;
  }
  .faq-title {
    @include textVariant(18px, #101010, 400, "Tahoma");
  }
  .circle-arrow {
    background: #34ab7d;
    border-radius: 25px;
    path {
      color: white;
    }
  }
}

// BLOGS
.blogs_container {
  margin-top: 100px;
}
.info-popup-container {
  .read_state {
    margin-top: 10px;
    cursor: pointer;
    @include textVariant(18px, #34ab7d, 400, "Tahoma");
  }
  .rounded {
    max-width: 1100px;
    width: 100%;
  }
  .blogs_content_container {
    display: flex;
    .content {
      width: 50%;
    }
  }
}
// NETWORK

.network_content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  background-color: white;
  padding: 30px 40px 30px 20px;
  border-radius: 15px;
  .banner_button {
    background: #34ab7d;
    width: 100%;
    margin-top: 20px;
  }
  .inputs_container {
    max-width: 540px;
    width: 100%;
    input {
      margin: 5px 0px;
      border-bottom: 1px solid #050505;
    }
    .info {
      margin-top: 10px;
      @include textVariant(14px, #959595, 400, "Tahoma");
      text-align: center;
    }
  }
}

// modal

.modal-content {
  background-color: white;
  padding: 50px;
  max-width: 1100px;
  width: 100%;
  .content-modal-part {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .blogs-content {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    gap: 15px;
  }
  .blog-card {
    background: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    // max-width: 180px;
    text-align: center;
    h3 {
      @include textVariant(16px, #101010, 600, "Tahoma");
    }
    p {
      @include textVariant(14px, #353535, 400, "Tahoma");
    }
  }
  .modal-content-btn {
    padding: 10px;
    color: white;
    background: #34ab7d;
    border-radius: 20px;
    margin: 20px 0px;
  }
}

// network
.network_container {
  margin-top: 100px;
}
